/*BASE CLASSES*/
*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font: 14px Arial;
    margin: 0;
    padding: 0;
    background-color: #d0e8e2;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.flexGrid{
    display: flex;
    flex-wrap: wrap;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}


/*CONTENT*/
.content{
    background-color: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
}
.contentCaption{
    padding: 15px 0px;
    margin-bottom: 10px;
    background-color: #6abda7;
    color: #fff;
}
.contentCaption h1:after{
    content: '\269B';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    font-size: 60px;

}
.filter {
    padding-top: 15px;
    padding-bottom: 15px;
}
.filter__label {
    font-size: 20px;
    padding-right: 10px
}
.filter__sort {
    font-size: 18px;
    padding: 2px 5px;
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(61, 173, 142, 0.47);
    transition: box-shadow 0.5s ease-in-out;
}
.filter__sort:focus {
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(61, 173, 142, 0.47);
    transition: box-shadow 0.5s ease-in-out;
}
.personalItemWrap {
    padding: 10px;
    width: 100%;
}
.personalItem {
    padding: 10px;
    box-shadow: 0px 0px 1px 1px rgba(61, 173, 142, 0.47);
    height: 100%;
    background-color: #fff;
    transition: box-shadow, background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
}
.personalItem:hover {
    box-shadow: 0px 0px 10px 1px rgba(61, 173, 142, 0.47);
    background-color: rgba(61, 173, 142, 0.2);
    transition: box-shadow, background-color 0.5s ease-in-out;
}

.personalItem__img {
    margin-right: 10px;
    flex-shrink: 0;
}
.personalItem__img img {
    max-width: 100%;
}
.personalItem__desc{
    font-size: 18px;
    line-height: 1.3;
    text-transform: capitalize;
    padding-left: 15px;
    border-bottom: 2px solid rgba(61, 173, 142, 0.47);
    width: 100%
}
.personalItem__link {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*MODAL*/
.modal-hide {
    transition: opacity, background-color 0.5s ease-in-out;
    opacity: 0;
}
.modal-hide.in {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(22, 90, 71, 0.8);
    opacity: 1;
    transition: opacity, background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    max-width: 500px;
    width: 100%;
    background: #fff;
    min-height: 300px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.modal-hide .modal {
    display: none;
}
.modal-hide.in .modal {
    display: flex;
}
.modal__img {
    min-height: 131px;
    width: 35%;
    padding-right: 15px;
}
.modal__img img {
    max-width: 100%;
}
.modal__close {
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 25px;
    text-align: center;
}
.modal__close:after {
    content: '\2716';
    cursor: pointer;
}
.modal__close:hover:after {
    opacity: 0.7;
}
.modal__title {
    width: 65%;
    text-transform: capitalize;
    padding-right: 30px;
}
.modal__body {
    width: 100%;

}
.modal__body-section{
    width: 50%;
    float: left;
    padding: 10px;
}









/*RESPONSIVE*/

@media (min-width: 576px){
  .container {
        max-width: 540px;
    }  
}

@media (min-width: 768px){
  .container {
        max-width: 720px;
    }  
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .personalItemWrap {
        width: 33.3333%;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }

}

